<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.lumiseven.demo.skt.seata.provider.mapper.TbUserMapper">
    <insert id="insert" parameterType="code.lumiseven.demo.skt.seata.provider.domain.TbUser" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user (name, age)
        values (#{name}, #{age})
    </insert>
</mapper>